{
    "extends": "eslint:recommended",
    "rules": {
        "no-unused-vars": "off",
        "no-console": ["error", { "allow": ["warn"] }]
    },
    "env": {
        "browser": true
    },
    "globals": {
        "Nestable": true
    }
}
